<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A Brief Description on my favorite cricketers</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1 class="logo" style="color:black;text-align:center;" > Virat Kohli </h1>
    <h2 style="color:black;text-align:center"> Virat Kohli is an Indian cricketer and the current captain of the India national team </h2>
    <p> A right-handed top-order batsman, Kohli is regarded as one of the best contemporary batsmen in the world.[3] He plays for Delhi in domestic cricket and for Royal Challengers Bangalore in the Indian Premier League (IPL) as captain of the franchise since 2013.</p>

    <h1 class="logo" style="color:black;text-align:center;" >Smriti Mandhana</h1>
    <h2 style="color:black;text-align:center">Smriti Shriniwas Mandhana is an Indian cricketer who plays for the Indian women's national team. </h2>
    <p> In June 2018, the Board of Control for Cricket in India (BCCI) named her as the Best Women's International Cricketer.[3] In December 2018, the International Cricket Council (ICC) awarded her with the Rachael Heyhoe-Flint Award for the best female cricketer of the year.[4] She was also named the ODI Player of the Year by the ICC at the same time.</p>

    <h1 class="logo" style="color:black;text-align:center;" >Jasprit Bumrah</h1>
    <h2 style="color:black;text-align:center"> Jasprit Jasbirsingh Bumrah is an Indian international cricketer, who plays for the Indian national cricket team</h2>
    <p> Bumrah made his debut in One Day Internationals and Twenty20 Internationals in 2015–16 series against Australia. He is the first Asian bowler to take 5 wickets in a test innings in South Africa, England and Australia during the same calendar year.[3] He is also the third highest wicket taker in test matches in a debut year with 48 wickets in 8 matches.</p>

    <h1 class="logo" style="color:black;text-align:center;" > Mitali Raj </h1>
    <h2 style="color:black;text-align:center"> Mithali Dorai Raj is an Indian cricketer and the Test and ODI captain of women's national cricket team</h2>
    <p> She is the highest run-scorer in women's international cricket and the only female cricketer to surpass the 7,000 run mark in Women's One Day International matches.[4][5] she is the first player to score seven consecutive 50s in ODIs.Raj also holds the record for most half-centuries in WODIs</p>

    <h1 class="logo" style="color:black;text-align:center;" > Shikhar Dhawan </h1>
    <h2 style="color:black;text-align:center"> Shikhar Dhawan (born 5 December 1985) is an Indian international cricketer and a former limited overs captain.</h2>
    <p> A left-handed opening batsman and an occasional right-arm off break bowler, he plays for Delhi in first-class cricket and Delhi Capitals in the IPL. He played for the Indian Under-17 and Under-19 teams before making his first-class debut for Delhi in November 2004. At the 2013 Champions Trophy, 2015 World Cup and 2017 Champions Trophy, Dhawan was the leading run-scorer for India</p>

    <h1 class="logo" style="color:black;text-align:center;" >Harmanpreet Kaur</h1>
    <h2 style="color:black;text-align:center"> Harmanpreet Kaur (born 8 March 1989) is an Indian cricketer who serves as the captain of the Indian team in T20Is</h2>
    <p> She plays as an all-rounder for the Indian women's cricket team[2][3][4] and was awarded the Arjuna Award for Cricket in the year 2017 by the Ministry of Youth Affairs and Sports.[5] In November 2018, she became the first woman for India to score a century in a Women's Twenty20 International (WT20I) match.[6] In October 2019, during the series against South Africa, she became the first cricketer for India, male or female, to play in 100 international Twenty20 matches</p>

    <h1 class="logo" style="color:black;text-align:center;" > Rohit Sharma </h1>
    <h2 style="color:black;text-align:center"> Rohit Gurunath Sharma (born 30 April 1987) is an Indian international cricketer who plays for Mumbai in domestic cricket and captains Mumbai Indians in the Indian Premier League</h2>
    <p> He is the vice-captain of the Indian national team in limited-overs formats.Outside cricket, Sharma is an active supporter of animal welfare campaigns. He is the official Rhino Ambassador for WWF-India and is a member of People for the Ethical Treatment of Animals (PETA). He has worked with PETA in its campaign to raise awareness of the plight of homeless cats and dogs in India</p>

    {% endblock %}
  </body>
</html>