<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cricketers 2021</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1 style="text-align:center;">Here I present to you my Favorite Male and Female Cricketers from the latest squad</h1>
     <h3 style="text-align:center;"> They have all made us so proud</h3>
     <img src="static/img/Virat_Kohli.jpg" width="360" height="300"/>
     <img src="static/img/Smriti_Mandhana.jpg" width="360" height="300"/>
     <img src="static/img/Jasprit_Bumrah.jpg" width="360" height="300"/>
     <img src="static/img/Mitali_Raj.jpg" width="360" height="300"/>
     <img src="static/img/Shikhar_Dhawan.jpg" width="360" height="300"/>
     <img src="static/img/Harmanpreet_Kaur.jpg" width="360" height="300"/>
     <img src="static/img/Rohit_Sharma.jpg" width="360" height="300"/>
     <img src="static/img/Rishab Pant.jpg" width="360" height="300"/>

    {% endblock %}
  </body>
</html>